*.class

*.log
**/test-launch.config

*.ctxt

.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
**/*.vsix

hs_err_pid*


**/.idea/
**/.gradle
**/node_modules/
.DS_Store
target/
.settings
test/**/.classpath
test/**/.project
**/.checkstyle
target/
bin/
**/lib/
out/
server/
.jqwik-database

jdtls/

!java-extension/.mvn/wrapper/maven-wrapper.jar

out
node_modules
*.vsix
.vscode-test
resources/templates/css/**
resources/templates/js/**
resources/templates/fonts/**
dist
